@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.navbar{
    height: 55px;
    left: 0px;
    top: 0px;
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo{
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    color: white;
}


.cards-group{  
    display: flex;
    padding: 0 20px;
}

.cards-group-inner {
    display: flex;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 20px;
    padding-top: 20px;
}

.card-img{
    height: 168px;
    width: 125px;
    border-radius: 5px;
}

.card-description {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-description .location {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    margin-bottom: 5px;
}

.card-description .location .location-icon{
    color: red;
}

.card-description .location .location-link{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #918E9B;
    margin-left: 10px;
    letter-spacing: normal;
}

.card-description .title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin-bottom: 15px;
}

.card-description .date {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
    margin-bottom: 5px;

}

.card-description .desc {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A;
}

